<html>
<head>
	<title> plots </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script  		 		src="../static/jquery/jquery-3.4.1.min.js"></script>
	<link rel='stylesheet' 	href="../static/jquery/jquery-ui-1.12.1.custom/jquery-ui.min.css">
	<script  		 		src="../static/jquery/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<link rel='stylesheet' 	href="../static/analyse.css">
	<script 				src="../static/cookie.js"></script>
	<script 				src="../static/analsc.js"></script>
	
</head>

<body id='bdy'>
	
	<div id='logo'><a href='/'><img src='../static/favicon.ico' title='home'></a></div> 
	
	<div id='nofile' name='nofile'>
	
		<center>
		<div id='head'>
				<div id='d1'>
					<p>
						<h1><i> Upload a file </i><hr></h1>  <br>
					</p>
				</div>
		</div>
		<div id='error'>{{good}}</div>
		<form method='POST' action='/plotYourFile/' enctype = "multipart/form-data">
			<!-- <label for='file' >Upload Your File </label> -->
			<input type='file' id='file' name='file' class='file' accept='.csv,.txt,.xls,.xlsx'
							onchange="error.innerHTML=''" required></input>
			<br>
			 <div id='filediv'> <button type='submit'> Analyse </button> </div>
		</form>
		</center>
	</div>
	
	<div id='main' name='hasfile'>
		
		<center>
		<div id='head'>
			<div id='d1'>
				<p>
					<h1><i> Analysis on file - '{{fname}}' </i><hr></h1>  <br>
				</p>
			</div>
		</div>
		
		<form id='form'>
		
		<div id='lab1'></div> <br>
		<label for='gtype'> Graph Type : </label>
		<select id='gtype' name='gtype'>
			<option value='bar'> Bar </option>
			<option value='pie'> Pie </option>
			<option value='scatter'> Scatter </option>
			<option value='plot'> Plot </option>
			<option value='histogram'> Histogram </option>
		</select>
		
		<br><br>
		
		<label for='col1'>Column 1&nbsp &nbsp &nbsp: </label>
		<select id='col1' name='col1'>
			{% for cname in cols %}
				<option value='{{cname}}'>{{cname}}</option>
			{% endfor %}
		</select>
		
		<br><br>
		
		<label for='col2'>Column 2&nbsp &nbsp &nbsp: </label>
		<select id='col2' name='col2'>
			<option id='op' value=''> None </option>
			{% for cname in cols %}
				<option value="{{cname}}">{{cname}}</option>
			{% endfor %}
		</select>
		
		</form> <br><br>

		<button id='show'> Show </button> <br><br><br>
		
		<div id='imgbox'>
		<img id='canvas'>  </img>
		</div>
	

		<button id='b1'> Description </button> 
		<button id='b2'> A Look </button> 
		<button id='b3'> Whole File </button> <br><br>
		<div id ='mydata'></div> <br><br>
		</center> <br><br>
		
		<button id='newf'> Upload new File </button> <br><br>

	
	</div>
	
	<div class='loadbox' id='loadbox'>
		<div class='loader'>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<p>loading</p>
	</div>
	
	<div id='footspace'></div>
	<footer id='footer'>
		Contact / Feedback: <a target="_blank" href="https://mail.google.com/mail/?view=cm&to=rohan.rawat.9897@gmail.com">rohan.rawat.9897@gmail.com</a>
	</footer>

</body>

</html>
<!-- {{url_for('static',filename='')}} -->




