<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Graphs </title>
	<script  id='sc' 		src="../static/jquery/jquery-3.4.1.min.js"></script>
	<link rel='stylesheet' 	href="../static/jquery/jquery-ui-1.12.1.custom/jquery-ui.min.css">
	<script  id='sc1' 		src="../static/jquery/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script 				src="../static/jquery/jquery.ui.touch-punch.min.js"></script>
	<!--
	<script src="{{url_for('static',filename='cookie.js')}}"></script>
	-->
</head>

<body id='bdy'  onerror='alert("error chutiye")'>
	
	<style>
		#bdy{
			font-size:40px;
		}
		.box{
			width:60px;
			height:60px;
			position:absolute;
			background-color:green;
			box-shadow: 0px 0px 8px 4px blue;
		}
		.handle{
			width:20px;
			height:20px;
			border-radius:100% 0 0 0;
			position:absolute;
			bottom:0;
			right:0;
			background-color:red;
		}
	</style>
	<div id='txt'></div>
	<div class='box' id='box'><div class='handle' id='hand'></div></div>
	</div>
	
	
	<script>
		
	</script>
	
	
</body>

</html>
